*{
    box-sizing: border-box;
    
}
body{
    color: white;
   
    background-image: url('https://wallpapercave.com/wp/wp2122184.jpg');
}
input{
    color: black;
}
h2 ,p, h4,  h3{
    font-size: 20px;
}

